        <header class="header">
            <div class="header__logo">
            <h2 class="header__title">Joaninha</h2>
            </div>

            <nav class="header__nav" aria-label="Main navigation">
            <ul class="nav__list">
            <li class="nav__item"><a class="nav__link">Home</a></li>
            <li class="nav__item"><a class="nav__link">Contact</a></li>
            <li class="nav__item"><a class="nav__link">About</a></li>
            </ul>
            </nav>
        </header>
